<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwizzingMethodDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7482E7D61E1501A0009FCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7482E7EF1E1501A0009FCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7482E7FA1E1501A0009FCB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
